<mat-card>
  <mat-card-header>
    <mat-card-title>My Work</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Please see some examples of my work below. Click on the images to enlarge
      them for a better look.
    </p>
    <mat-grid-list [cols]="breakpoint" rowHeight="350px" (window:resize)="setColumnWidth()">
      @for (tile of galleryTileInfo; track tile) {
      <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="openDialog(tile)">
        <app-gallery-tile
          imageLink="{{ tile.imageLink }}"
          description="{{ tile.description }}"
        ></app-gallery-tile>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </mat-card-content>
</mat-card>
