<div class="container">
  <h2>Workshop Days</h2>
  <div class="content">
    <div class="studio-images">
      <figure>
        <img src="./assets/studio.jpg" alt="My Lincolnshire studio" />
        <figcaption>My Lincolnshire Studio at the start...</figcaption>
      </figure>
      <figure>
        <img src="./assets/Studio2.jpg" alt="My Lincolnshire studio" />
        <figcaption>Now with two wheels in use!</figcaption>
      </figure>
    </div>
    <p>
      <br /><br />I am happy to demonstrate basic throwing on the wheel and guide people through “having a go” to see if they can create their unique bit of pottery.
      <br />
      <br />
      Please contact via
      <a class="email-link" href="mailto:michaelcoupland4@icloud.com"
        >michaelcoupland4@icloud.com</a
      >
    </p>
  </div>
</div>
