<mat-card>
  <mat-card-header>
    <mat-card-title>Workshop Days</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      I am happy to demonstrate basic throwing on the wheel and guide people
      through "having a go" to see if they can create their own unique bit of
      pottery.
    </p>
    <p>
      Please contact via
      <a class="email-link" href="mailto:michaelcoupland4@icloud.com"
        >michaelcoupland4&#64;icloud.com</a
      >
    </p>
    <div class="images">
      <img
        class="image"
        mat-card-image
        src="./assets/studio.jpg"
        alt="My Lincolnshire studio"
      />
      <img
        class="image"
        mat-card-image
        src="./assets/Studio2.jpg"
        alt="My Lincolnshire studio"
      />
    </div>
  </mat-card-content>
</mat-card>
