mat-card {
  margin: 5rem 0;
  padding: 0.5rem;
}

img {
  max-width: 40vmin;
}

.image {
  max-width: 40vmin;
  margin: 0 1rem;
  border-radius: 5%;
}

.images {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
