<div class="container">
  <h2>My Work</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur
    cursus mi sagittis mattis. Cras enim risus, porta non mi et, vestibulum
    lacinia tortor. Proin et varius leo, id iaculis nulla. Phasellus porttitor
    nec elit egestas dignissim. Duis convallis bibendum pulvinar. Cras id quam
    ut sem mattis lacinia in non nunc. Proin pharetra orci neque, sed elementum
    ligula consectetur ac. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Integer feugiat vel tellus
    sagittis gravida. Curabitur ut faucibus dolor.
  </p>
  <!--Carousel HTML-->
  <div class="collection">
    <div class="gallery">
      <a href="./assets/fluteBowl.png" target="_blank">
        <img
          src="./assets/fluteBowl.png"
          alt="Fluted Bowl"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Fluted bowl</div>
    </div>

    <div class="gallery">
      <a href="./assets/porcelainVase1.png" target="_blank">
        <img
          src="./assets/porcelainVase1.png"
          alt="Porcelain vase with lavender design"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Porcelain vase with lavender design</div>
    </div>

    <div class="gallery">
      <a href="./assets/stonewareBowl.png" target="_blank">
        <img
          src="./assets/stonewareBowl.png"
          alt="Stoneware bowl"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Stoneware bowl</div>
    </div>

    <div class="gallery">
      <a href="./assets/pots1.jpg" target="_blank">
        <img
          src="./assets/pots1.jpg"
          alt="A collection of pots"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        A collection of mugs, a bowl, vase, jug, and chip and dip plate
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/jugs1.jpg" target="_blank">
        <img
          src="./assets/jugs1.jpg"
          alt="A collection of jugs, bowls, and chip and dip plates"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        A collection of jugs, bowls, and chip and dip plates
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/circleVases.jpg" target="_blank">
        <img
          src="./assets/circleVases.jpg"
          alt="Circular vases"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        Circular vases
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/flowerJug.JPG" target="_blank">
        <img
          src="./assets/flowerJug.JPG"
          alt="Jug "
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        Jug with flower design
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/hare.JPG" target="_blank">
        <img
          src="./assets/hare.JPG"
          alt="A collection of jugs, bowls, and chip and dip plates"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        Hare
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/rabbitJug.JPG" target="_blank">
        <img
          src="./assets/rabbitJug.JPG"
          alt="Jug with rabbit design"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        Jug with rabbit design
      </div>
    </div>

  </div>
</div>
