<div class="container">
  <h2>My Work</h2>
  <p>
    Please see some examples of my work below. Click on the images to enlarge
    them for a better look.
  </p>
  <!--Carousel HTML-->
  <div class="collection">
    <div class="gallery">
      <a href="./assets/fluteBowl.png" target="_blank">
        <img
          src="./assets/fluteBowl.png"
          alt="Fluted Bowl"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Fluted bowl</div>
    </div>

    <div class="gallery">
      <a href="./assets/porcelainVase1.png" target="_blank">
        <img
          src="./assets/porcelainVase1.png"
          alt="Porcelain vase with lavender design"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Porcelain vase with lavender design</div>
    </div>

    <div class="gallery">
      <a href="./assets/stonewareBowl.png" target="_blank">
        <img
          src="./assets/stonewareBowl.png"
          alt="Stoneware bowl"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Stoneware bowl</div>
    </div>

    <div class="gallery">
      <a href="./assets/pots1.jpg" target="_blank">
        <img
          src="./assets/pots1.jpg"
          alt="A collection of pots"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        A collection of mugs, a bowl, vase, jug, and chip and dip plate
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/jugs1.jpg" target="_blank">
        <img
          src="./assets/jugs1.jpg"
          alt="A collection of jugs, bowls, and chip and dip plates"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">
        A collection of jugs, bowls, and chip and dip plates
      </div>
    </div>

    <div class="gallery">
      <a href="./assets/circleVases.jpg" target="_blank">
        <img
          src="./assets/circleVases.jpg"
          alt="Circular vases"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Circular vases</div>
    </div>

    <div class="gallery">
      <a href="./assets/flowerJug.JPG" target="_blank">
        <img src="./assets/flowerJug.JPG" alt="Jug " width="600" height="400" />
      </a>
      <div class="desc">Jug with flower design</div>
    </div>

    <div class="gallery">
      <a href="./assets/hare.JPG" target="_blank">
        <img
          src="./assets/hare.JPG"
          alt="A collection of jugs, bowls, and chip and dip plates"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Hare</div>
    </div>

    <div class="gallery">
      <a href="./assets/rabbitJug.JPG" target="_blank">
        <img
          src="./assets/rabbitJug.JPG"
          alt="Jug with rabbit design"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Jug with rabbit design</div>
    </div>

    <div class="gallery">
      <a href="./assets/ramen_dishes.JPG" target="_blank">
        <img
          src="./assets/ramen_dishes.JPG"
          alt="Set of ramen dishes"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Set of ramen dishes</div>
    </div>

    <div class="gallery">
      <a href="./assets/bowls_hares.JPG" target="_blank">
        <img src="./assets/bowls_hares.JPG" alt="Bowls and hares" width="600" height="400"/>
      </a>
      <div class="desc">A set of bowls and 3 hares</div>
    </div>

    <div class="gallery">
      <a href="./assets/dragonfly_plate.jpg" target="_blank">
        <img src="./assets/dragonfly_plate.jpg" alt="Dragonfly plate" width="600" height="400"/>
      </a>
      <div class="desc">Dragonfly plate</div>
    </div>

    <div class="gallery">
      <a href="./assets/biqsue_fired.JPG" target="_blank">
        <img src="./assets/bisque_fired.JPG" alt="Bisque fired pottery" width="600" height="400"/>
      </a>
      <div class="desc">Bisque fired pottery in the kiln</div>
    </div>

  </div>
</div>
