.footer {
  position: sticky;
  top: 100vh;
  background-color: #395101;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    mat-icon {
      margin-right: 10px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;

    li {
      margin: 10px;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
    margin: 20px;

    a {
      display: block;
      text-align: center;
    }
  }
}
