<div class="footer">
  <ul>
    <li>
      <a href="https://www.etsy.com/uk/shop/MikesCellar" target="_blank">
        <mat-icon>storefront</mat-icon> Mike's Cellar on Etsy</a
      >
    </li>
    <li>
      <a class="email-link" href="mailto:michaelcoupland4@icloud.com">
        <mat-icon>send</mat-icon> Email:michaelcoupland4&#64;icloud.com
      </a>
    </li>
  </ul>

  <p>
    © 2022 MC Ceramics | Michael Coupland
    <br />
    Developed by
    <a href="https://miacoupland.web.app/" target="_blank">Mia Coupland</a>
  </p>
</div>
