<div class="footer">
  <ul>
    <li>
      <a href="https://www.etsy.com/uk/shop/MikesCellar" target="_blank"
        ><fa-icon [icon]="faEtsy"></fa-icon> Mike's Cellar on Etsy</a
      >
    </li>
    <li>
      <a class="email-link" href="mailto:michaelcoupland4@icloud.com"
        ><fa-icon [icon]="faEnvelope"></fa-icon> Email:
        michaelcoupland4@icloud.com</a
      >
    </li>
  </ul>

  <p>
    © 2022 MC Ceramics | Michael Coupland
    <br /><br />
    Developed by
    <a href="https://miacoupland.github.io/me/" target="_blank">Mia Coupland</a>
  </p>
</div>
