<div class="container">
  <h2>Workshop Days</h2>
  <div class="content">
    <p>
      Do you want to try your hand at ceramics - to see if you can make a pot on
      a wheel or build a pot or sculpture?
      <br /><br />
      We have a ceramic studio situated between Lincoln and Market Rasen in a
      rural location. The studio has two pottery wheels and is ideal for a
      single person or for two people to visit and “have a go”. Most work in the
      studio is done using stoneware clay and a variety of glazes. Tuition is
      provided to help you experience the process of throwing or building your
      “piece” which can then be glazed and fired. If you are interested, please
      get in touch by e-mail. This page shows photos of the pottery studio and
      examples of some of the work produced.
    </p>
    <figure>
      <img src="./assets/studio.jpg" alt="My Lincolnshire studio" />
      <figcaption>My Lincolnshire studio</figcaption>
    </figure>
  </div>
</div>
