<div class="container">
    <h2>The Studio</h2>
    <div class="content">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur
          cursus mi sagittis mattis. Cras enim risus, porta non mi et, vestibulum
          lacinia tortor. Proin et varius leo, id iaculis nulla. Phasellus porttitor
          nec elit egestas dignissim. Duis convallis bibendum pulvinar. Cras id quam
          ut sem mattis lacinia in non nunc. Proin pharetra orci neque, sed elementum
          ligula consectetur ac. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Integer feugiat vel tellus
          sagittis gravida. Curabitur ut faucibus dolor.
        </p>
        <figure>
          <img src="./assets/studio.jpg" alt="My Lincolnshire studio" />
          <figcaption>My Lincolnshire studio</figcaption>
        </figure>
    </div>
  </div>
  