<div class="container">
  <h2>Workshop Days</h2>
  <div class="content">
    <div class="studio-images">
      <figure>
        <img src="./assets/studio.jpg" alt="My Lincolnshire studio" />
        <figcaption>My Lincolnshre Studio at the start...</figcaption>
      </figure>
      <figure>
        <img src="./assets/Studio2.jpg" alt="My Lincolnshire studio" />
        <figcaption>Now with two wheels in use!</figcaption>
      </figure>
    </div>
    <p>
      Do you want to try your hand at ceramics - to see if you can make a pot on
      a wheel or build a pot or sculpture?
      <br /><br />
      We have a ceramic studio situated between Lincoln and Market Rasen in a
      rural location. The studio has two pottery wheels and is ideal for a
      single person or for two people to visit and “have a go”. Most work in the
      studio is done using stoneware clay and a variety of glazes. Tuition is
      provided to help you experience the process of throwing or building your
      “piece” which can then be glazed and fired. If you are interested, please
      get in touch by e-mail.

      <br /><br />3 Hour sessions for two people are charged at £50, for one
      person £30.<br />A follow on session can then be arranged for glazing
      turning etc if wished.
      <br />
      <br />
      My email is
      <a class="email-link" href="mailto:michaelcoupland4@icloud.com"
        >michaelcoupland4@icloud.com</a
      >
    </p>
  </div>
</div>
