<mat-card>
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Art has always featured in my life, I was lucky to have a brief exposure
      to pottery firstly in my teens then many years later by two years of
      evening classes at Lincoln Art College. On retirement from the NHS I
      joined a regular ceramic art class at the Oxcombe studio in the
      Lincolnshire Wolds where we throw pots, exchange ideas, and discuss
      ceramics and techniques most weeks.
    </p>
    <p>
      My home studio was developed and constructed during the Covid Crisis which
      was the catalyst to bring forward plans to convert part of our garage /
      cartshed into a small art studio. Before retirement teaching was a major
      part of my clinical role so the studio was designed with enough room for
      two potters wheels and the option to do some more teaching and
      demonstrating - an ideal environment to encourage people to have a go at
      throwing, building and sculpting. Most (but not all) of the work created
      is stoneware pottery with a functional use but there is the opportunity
      for pieces to be aesthetically pleasing and tactile.
    </p>
    <p>
      I think all those working with ceramics marvel at the infinite variety of
      glaze finishes that result from the mix of “Earth and Fire” this is
      undoubtedly the attraction, charm, and at times the frustration of
      pottery. Potters gain inspiration from each other, the natural world and
      interactions in life.
    </p>
    <p>
      Please feel free to contact me at
      <a
        class="email-link"
        href="mailto:michaelcoupland4@icloud.com"
        style="text-decoration: underline"
        >michaelcoupland4&#64;icloud.com</a
      >
      if you would like to have a go.
    </p>
  </mat-card-content>
</mat-card>
