@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  position: relative;
  align-items: flex-start;

  .hamburger {
    display: flex;
    flex-direction: row;
  }

  #button {
    display: flex;
    border: none;
    background-color: transparent;
    width: fit-content;
  }

  a {
    text-decoration: none;
    color: #395101;
  }

  .navlink:hover {
    background-color: #395101;
    color: white;
  }

  .title {
    margin: 10px 10px 0px 10px;
  }

  #links {
    display: none;

    .navlink {
      padding: 0px 20px;
    }
  }

  .title-link {
    display: block;
  }
}

.hidden {
  display: none !important;
}

.shown {
  display: flex !important;
}

@media only screen and (max-width: 800px) {
  .hamburger {
    flex-direction: column;
  }

  #links {
    flex-direction: column;

    .navlink {
      padding: 5px;
    }
  }
}
